In [5]:
#todolist

# after "#" every thing is enterd in that perticular line will be comment not readed while compilling it is just for our reference in coding

#python basics
#anaconda
#running and testing
#data type
#statements
#loops
#github

# hello this is the first class for python (heading as selection)

for line comment (markdown as selection)

In [6]:
#program (code as selection)
print("hola amigoes")

hola amigoes

# datatypes syntex

In [ ]:
#integers
int

#floating point
float

#STRING
str

#LISTS
list[]

#DICTIONARIES
anyDict{}

#TUPLES
tup()

#SETS
set{}

#BOOLEANS
bool

# number

integers

In [10]:
bda = 20

In [11]:
bda

20

In [12]:
fcs = 100

In [13]:
fcs-bda

80

In [14]:
bda-fcs

-80

In [15]:
bda*fcs

2000

In [16]:
bda/fcs

0.2

In [17]:
bda+fcs

120

In [18]:
bda/fcs*100

20.0

# float

In [19]:
abc=10.1

In [20]:
bu=89.67676

In [31]:
a=bu-abc

b=bu+abc

c=bu*abc

d=bu/abc

In [32]:
print(a,b,c,d
    )

79.57676000000001 99.77676 905.735276 8.878887128712872

#  strings

In [44]:
lu="Biryani"

In [45]:
lu[2]

'r'

In [46]:
lu[:4]

'Biry'

In [47]:
lu[::1]

'Biryani'

In [48]:
lu[::-1]

'inayriB'

In [49]:
lu[:-1]

'Biryan'

In [50]:
lu[1:6]

'iryan'

In [51]:
lu[0:7:2]

'Brai'

STRING = BUSINESS DATA ANALTICS

slicing and dising
syntex: variable[start_point : end-point : increment/decrement]

QUST1: PRINT FROM U TO C,
QUST2:PRINT IN REVERSE THE STRING,
QUST3:PRINT EVERY TWO LETTER OF STRING,
QUST4: PRINT EVERY 3 LETTER OF THE STRING REVERSE.

In [55]:
s= "BUSINESS DATA ANALYTICS"

In [58]:
s[1:22]

'USINESS DATA ANALYTIC'

In [59]:
s[::-1]

'SCITYLANA ATAD SSENISUB'

In [60]:
s[::2]

'BSNS AAAAYIS'

In [62]:
s[::-3]

'STA ASNU'

In [63]:
s[::3]

'BISDANYC'

# list

In [78]:
week =['sunday','monday','tuesday',1,56.8,['hello','holla'],'harsh',1,1]

In [66]:
week[1]

'monday'

In [67]:
week[5]

['hello', 'holla']

In [68]:
week[5][1]

'holla'

In [70]:
week[1:4]

['monday', 'tuesday', 1]

In [79]:
week.count(1)

3

In [73]:
week.count('harsh')

1

In [80]:
week

['sunday', 'monday', 'tuesday', 1, 56.8, ['hello', 'holla'], 'harsh', 1, 1]

In [81]:
week.insert(2,'insert')

#after "." press Tab key to get funtion that can be apply

In [82]:
week

['sunday',
 'monday',
 'insert',
 'tuesday',
 1,
 56.8,
 ['hello', 'holla'],
 'harsh',
 1,
 1]

# disctionary

In [84]:
d

{'hb': 'vinodh', 'dog': 'panda', 'cat': 'patro', 'fish': 'nidhi'}

In [85]:
type(d)

dict

In [86]:
d.keys()

dict_keys(['hb', 'dog', 'cat', 'fish'])

In [88]:
d.values()

dict_values(['vinodh', 'panda', 'patro', 'nidhi'])

In [89]:
d.get('hb')

'vinodh'

In [94]:
d.update({'hb':'hi'})

In [95]:
d.get('hb')

'hi'

# tuples

In [98]:
t=("sai","harsh",14,False,57.0009,14)

In [99]:
t.count(14)

2

In [102]:
t.index(14)

2

# SETS

In [104]:

st={'BDA',2,1,2,False}

In [105]:
st

{1, 2, 'BDA', False}

In [106]:
st.add(78) # remove,pop

In [107]:
st.

{1, 2, 78, 'BDA', False}


# BOOLEAN

In [108]:
not True

False

In [109]:
2<1

False

In [110]:
10<=15

True

In [112]:
10==15

False

# comparison operators

#      == 
#      !=
#      >
#      <
#      >=
#      <=

> ==

In [114]:
10==3

False

In [115]:
10==10

True

In [116]:
10=1

SyntaxError: can't assign to literal (<ipython-input-116-5d0c868ae905>, line 1)

In [118]:
x=100

In [119]:
y=60

In [120]:
x==y

False

In [121]:
10!=6

True

> !=

In [122]:
10!=10

False

In [123]:
x=19

In [124]:
y=19
x!=y

False

> greater than

In [125]:
5>7

False

In [126]:
7>5

True

>less than

In [127]:
8<10

True

In [128]:
10<8

False

> greater than or equal to

In [129]:
X=100
Y=40
Z=40

In [130]:
Z>=40

True

In [131]:
X>=Y

True

In [132]:
Y>=X

False

In [133]:
Y>=Z

True

> LESS THAN OR EQUAL TO

In [134]:
X<=Y

False

In [135]:
Y<=X

True

In [136]:
Y<=Z

True

# CHAINED COMPARISION OPERATORS

# AND
# OR
# NOT

In [138]:
(40>100) or (100>50)

True

In [139]:
(40>100)and(100>50)

False

In [140]:
not((40>100)and(100>50))

True

# Flow control, statements

# if
# elif
# else

In [141]:
if 40>50:
    print('first stmt is true') 
#we have to leave intendent space (4space at startin) to give stament under if, elif, else
elif 50>90:
    print ("scnd stmt is true")
else:
    print('nothing match hence else block')

nothing match hence else block